<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body style="background-color:grey;">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/downloads">Downloads</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.youtube.com/channel/UCuybHg0uJWmh5QWpM_y50uw">My Youtube</a></li>
	        		<li><a href="https://github.com/ThePayneMaster">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
